---
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% if jekyll.environment == 'production' %}
      {% include google-analytics.html %}
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nominate Elmer Yang for Senior Prom King at McKinney Boyd High School. We're trying to get someone smart, funny, and kind to become our Prom King. Vote for him this week!">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="Elmer, Yang, Elmer Yang, nominate, vote, senior, prom king, prom, king, mckinney, mckinney boyd, broncos, bronco">
    <meta name="author" content="Elmer Yang">

    <title>Elmer Yang for Senior Prom King - Let's make 2018 amazing.</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ '/assets/vendor/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ '/assets/css/grayscale.css' | relative_url }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Yang Prom King</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#vote">Vote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            {% comment %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#support">Support Elmer</a>
            </li>
            {% endcomment %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#faq">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Elmer Yang</h1>
              <p class="intro-text">Hard work pays off. Thanks to a successful campaign and an amazing school of support, Elmer Yang is your new prom king.<p>
              <a href="#nominate" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="vote" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Voting Closed</h2>

            <p>
              Your support for Elmer has amazed everyone, from the immediate smiles upon seeing the green poster, to chanting Elmer Yang throughout the halls, to distributing flyers, and helping Elmer Yang's campaign make it to the Snapchat official "Countdown to Prom" story. As the official campaign manager, I, Thai Nguyen, would like to thank you for your support.
            </p>
            <p>
              Thanks to you, Elmer is your new prom king.
            </p>

            {% comment %}
            <a class="btn btn-default btn-lg" href="http://bit.ly/2vE7vFP" target="_blank">Vote for Elmer</a>


            <div>
            <br />
              <a class="js-scroll-trigger" href="#faq">Link not working?</a>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="download-section content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Elmer</h2>

            <p>
            Elmer Yang is an accomplished guy who is genuine. From playing basketball
              with 'da boys on Saturday mornings to helping his friends study for the
              AP Physics C tests, Elmer is a true friend. He knows how to work hard, which
              is obvious from his success in national debate tournaments, but he also knows how to play.
              The most important part is that even though he knows how to play, he isn't a player.
            </p>
            <p>First of all, Elmer is a real person. He's a nice change from the stereotypical Prom King.</p>
          </div>
        </div>
      </div>
    </section>

    {% comment %}
    <!-- Download Section -->
    <section id="support" class="content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
        </div>
      </div>
    </section>
    {% endcomment %}

    <!-- Contact Section -->
    <section id="faq" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h5>Did the campaign actually work?</h5>
            <p>
              It actually did. We'll try to upload a picture of Elmer and his date, Ashley, together wearing their crowns.
            </p>

            <h5>Did you actually make it to the official Snapchat story?</h5>
            <div>
              <p>Yes, we were featured briefly on the "Countdown to Prom" story.</p>

              <video controls style="max-height: 90vh;" class="embed-responsive embed-responsive-16by9">
                <source src="{{ '/assets/sc_story.webm' | relative_url }}" type="video/webm">
                <source src="{{ '/assets/sc_story.ogg' | relative_url }}" type="video/ogg">
                <source src="{{ '/assets/sc_story.mp4' | relative_url }}" type="video/mp4">
                Your browser doesn't support HTML5 video.
              </video>
              <br >
              <br >
              <br >
            </div>

            <h5>Do you have social media?</h5>
            <div>
              <p>Follow our Twitter <a href="http://bit.ly/2Hha1Hs" target="_blank">@yangforthewin</a> for updates.</p>
            </div>

            <h5>I'm trying to tweet out "yangforthe.win" but it doesn't work</h5>
            <p>
              Try this bitly link: <a href="http://bit.ly/kingyang" target="_blank">http://bit.ly/kingyang</a>
            </p>

            <h5>Who went through the trouble to make this website?</h5>
            <p>That would be none other than me, Thai Nguyen. I'm the personal campaign manager for Elmer Yang and I believe in the cause because Elmer's a great guy and one of my best friends. Who wouldn't vote for him?</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Created by the Broncos for Better Prom Kings Ad Committee.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ '/assets/vendor/jquery/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ '/assets/vendor/jquery-easing/jquery.easing.min.js' | relative_url }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ '/assets/js/grayscale.min.js' | relative_url }}"></script>

  </body>

</html>
