// Variables

//$primary: #bd2d3c;

// NOMINATIONS SCHEME
//$primary: #4b020f;
//$darker-primary: #30020a;
//$orangish: #ffbd4a;

// VOTING SCHEME
$primary: #4d6354;
$darker-primary: #3e4f43;
$orangish: #beffc7;


// unused
$secondary: #feffcb;
$darker-secondary: #f3ff89;

//$white: #f9f9f9;

$white: $secondary;

$background: $primary;